::deep .diagram-container {
    width: 100%;
    height: 90vh;
    border: 1px solid black; /* Just visual */
}

::deep .diagram-node {
    /*min-width: max-content;*/
    min-width: 250px;
    width: 250px;
    max-width: 250px;
    min-height: 200px;
    height: 200px;
    max-height: 200px;
    /*min-width: 100px;*/
    /*max-width: 100px;*/
}

::deep .diagram-node.selected {
    min-width: 250px;
    width: 250px;
    max-width: 250px;
    min-height: 200px;
    height: 200px;
    max-height: 200px;
    border: 0px solid #6e9fd4;
    /*border: 2px solid #6e9fd4;*/
    border-radius: var(--mud-default-borderradius);
}

/*::deep .diagram-node .selected .port {*/
/*    border: 1px solid #6e9fd4;*/
/*}*/

/*::deep .channel-link-label {*/
/*    pointer-events: all;*/
/*    display: inline-block;*/
/*    color: #d4d4d4;*/
/*    background-color: rgb(212, 212, 212);*/
/*    border-radius: 0.25rem;*/
/*    padding: 0.25rem;*/
/*    text-align: center;*/
/*    font-size: 0.875rem;*/
/*    -webkit-user-select: none;*/
/*    -moz-user-select: none;*/
/*    -ms-user-select: none;*/
/*    user-select: none;*/
/*    min-width: 3rem;*/
/*    -webkit-transform: translate(-50%, -50%);*/
/*    -ms-transform: translate(-50%, -50%);*/
/*    transform: translate(-50%, -50%);*/
/*}*/

::deep .channel-link-label {
    /*pointer-events: all;*/
    display: inline-block;
    color: #d4d4d4;
    /*background-color: rgb(212, 212, 212);*/
    border-radius: 0.25rem;
    padding: 0.25rem;
    text-align: center;
    font-size: 0.875rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 3rem;
    -webkit-transform: translate(-75%, -45%);
    -ms-transform: translate(-75%, -45%);
    transform: translate(-75%, -45%);
}
